<a href="https://colab.research.google.com/github/marceloribasDev/fundamentosPython/blob/main/Orientacao_a_Objetos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classes

In [ ]:
# Class

class Teste:
    pass

minha_classe = Teste()

print(type(minha_classe))

In [ ]:
# Construtor eh um metodo padrao quando a classe eh instanciada

class Nossa_Classe:
    def __init__(self): # Construtor padrao
        print("Eu existo")

var = Nossa_Classe()

print(type(var))

In [ ]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
        print('Pessoa com nome %s e idade %d criada' % (nome, idade))

pessoa1 = Pessoa('Marcelo', 33)
pessoa2 = Pessoa('Arthur', 0)

print(pessoa1.nome)

In [ ]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
        print('Pessoa com nome %s e idade %d criada' % (nome, idade))

pessoa1 = Pessoa('Marcelo', 33)

pessoa1.nome = 'Arthur'

print(pessoa1.nome)

In [ ]:
class Pessoa:
    especie = 'Homo Sapiens'
    num_pessoas = 0
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
        Pessoa.num_pessoas += 1

pessoa1 = Pessoa('Marcelo', 33)        
pessoa2 = Pessoa('Arthur', 0)
pessoa3 = Pessoa('Jully', 31)

print(pessoa1.especie)
print(pessoa2.especie)

print(Pessoa.num_pessoas)

# Funcoes de Classes

In [17]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
    def print_nome(self):
        print('Meu nome eh %s ' % (self.nome))

pessoa1 = Pessoa('Marcelo', '34')                
pessoa2 = Pessoa('Arthur', '0') 

pessoa1.print_nome()
pessoa2.print_nome()

Meu nome eh Marcelo
Meu nome eh Arthur

In [20]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
    def print_string(self,nome):
        print('Meu nome eh %s ' % (nome))
    def print_nome(self):
        self.print_string(self.nome)

pessoa1 = Pessoa('Marcelo', '34')                
pessoa2 = Pessoa('Arthur', '0') 

pessoa1.print_nome()
pessoa2.print_nome()

Meu nome eh Marcelo
Meu nome eh Arthur

In [24]:
class Pessoa:
    def __init__(self, nome):
        self.nome = nome
    def insere_idade(self, idade):
        self.idade = idade

marcelo = Pessoa('Marcelo')
marcelo.insere_idade(33)

print(marcelo.idade)

33

In [26]:
# Classes com uma Classe como atributo

class Tipo1:
    def __init__(self, outra_classe):
        self.outra_classe = outra_classe

class Tipo2:
    numero = 10


class2 = Tipo2
class1 = Tipo1(class2)

print(class1.outra_classe.numero)

10

In [28]:
class Exemplo:
    def __init__(self):
        pass

lista = []        

ex1 = Exemplo()
ex2 = Exemplo()

lista.append(ex1)
lista.append(ex2)

print(lista[1])

<__main__.Exemplo object at 0x7f804aef06a0>

# Herenca

In [29]:
class FormaGeometrica:
    def __init__(self,altura,largura):
        self.altura = altura
        self.largura = largura

class Quadrado(FormaGeometrica):
    pass

class Triangulo(FormaGeometrica):
    pass  

quadrado = Quadrado(100,50)    
triangulo = Triangulo(10,30)

print(quadrado.altura)
print(triangulo.largura)

100
30

In [31]:
class FormaGeometrica:
    def __init__(self,altura,largura):
        self.altura = altura
        self.largura = largura

class Quadrado(FormaGeometrica):
    lado = 10

class Triangulo(FormaGeometrica):
    angulo = 30

quadrado = Quadrado(100,50)    
triangulo = Triangulo(10,45)

print(quadrado.altura)
print(quadrado.lado)
print(triangulo.largura)
print(triangulo.angulo)

100
10
45
30

In [33]:
class FormaGeometrica:
    def __init__(self,altura,largura):
        self.altura = altura
        self.largura = largura
    def funcao_herdada(self):
        print('Sou herdada')

class Quadrado(FormaGeometrica):
    pass

class Triangulo(FormaGeometrica):
    pass  

quadrado = Quadrado(100,50)    
triangulo = Triangulo(10,30)

print(quadrado.altura)
quadrado.funcao_herdada()
print(triangulo.largura)
triangulo.funcao_herdada()

100
Sou herdada
30
Sou herdada