<a href="https://colab.research.google.com/github/marceloribasDev/fundamentosPython/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [ ]:
# Series
import pandas as pd

pd.Series([1,2,3,4,5])

In [ ]:
import pandas as pd
minha_serie = pd.Series([1,2,3,4,5], dtype="i4", name = "Meus numeros", index = ["um", "dois","tres","quatro","cinco"])

print(minha_serie["um"])
print(minha_serie["quatro"])
print(minha_serie.shape)

In [ ]:
import pandas as pd
minha_serie = pd.Series([1,2,3,4,5], dtype="i4", name = "Meus numeros", index = ["um", "dois","tres","quatro","cinco"])

minha_serie["seis"] = 6

print(minha_serie)

In [ ]:
import pandas as pd
import numpy as np

array = np.array([45.4,50.5,65.7,98.7])
pesos = pd.Series(array,index=["Carlos","Maria","Jose","Fernanda"])

print(pesos)
print(type(pesos))

In [ ]:
# Data Frames --> Eh um conjunto de dados em forma tabular... linhas e colunas
import pandas as pd

nomes = ["Marcelo","Arthur","Jully","Tiago","Luddy"]

data_frame = pd.DataFrame(nomes)

data_frame

In [ ]:
print(data_frame)

In [ ]:
import pandas as pd

numeros = [
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
]

data_frame = pd.DataFrame(numeros)

data_frame

In [ ]:
import pandas as pd

numeros = [
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
]

data_frame = pd.DataFrame(numeros, columns=["a","b","c","d"], index=["x","y","z","w"])

data_frame

In [ ]:
# Data frames a partir de um dicionario
import pandas as pd

dados = {
    "Nome": ["Marcelo","Arthur","Jully","Tiago"],
    "Idade" : [33,0,31,35],
    "Profissao" : ["DBA", "Filho","Esteticista", "Implementador de Software"]
}

data_frame = pd.DataFrame(dados)

data_frame

In [ ]:
data_frame.loc[0]

In [ ]:
import pandas as pd

dados = {
    "Idade" : [33,0,31,35],
    "Profissao" : ["DBA", "Filho","Esteticista", "Implementador de Software"]
}

data_frame = pd.DataFrame(dados, index=["Marcelo","Arthur","Jully","Tiago"])

data_frame

In [ ]:
data_frame.loc["Marcelo"]

In [1]:
# Importando dados (importado arquivo pessoas.csv da pasta de arquivos)

import pandas as pd

# data = pd.read_csv("pessoas.csv")
data = pd.read_csv("pessoas.csv", index_col="Nome")

data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.loc["Roger"]

In [ ]:
len(data.columns)

In [ ]:
data.columns

In [ ]:
len(data.index)

In [ ]:
data.index

In [ ]:
data.shape

In [ ]:
for ind, linha in data.iterrows():
    print(ind, linha[0], linha[1], linha[2])

In [ ]:
for col in data:
    print(col)

In [ ]:
data["Idade"]

In [ ]:
for col in data:
    print(data[col])

In [3]:
# Acessando valores individuais e slicing

print(data.loc["Roger"]["Idade"])
print(data.loc["Roger"][0])

45
45

In [5]:
print(data.iloc[0]["Idade"])
print(data.iloc[1][0])

45
34

In [6]:
print(data.loc["Roger"])
print(type(data.loc["Roger"]))

Idade               45
Profissão    Arquiteto
Altura             1.8
Name: Roger, dtype: object
<class 'pandas.core.series.Series'>

In [7]:
print(data.iloc[0])

Idade               45
Profissão    Arquiteto
Altura             1.8
Name: Roger, dtype: object

In [8]:
data.loc["Cristiano":"Jeferson"]

           Idade    Profissão  Altura
Nome
Cristiano     34  Programador    1.73
Diego         56       Médico    1.78
Jeferson      71   Aposentado    1.77

In [9]:
data.iloc[1:4]

           Idade    Profissão  Altura
Nome
Cristiano     34  Programador    1.73
Diego         56       Médico    1.78
Jeferson      71   Aposentado    1.77

In [13]:
idade = data["Idade"]

print(idade[3])
print(idade["Diego"])

71
56

In [14]:
print(data[["Idade","Altura"]])

           Idade  Altura
Nome
Roger         45    1.80
Cristiano     34    1.73
Diego         56    1.78
Jeferson      71    1.77
José          46    1.71
Maria         31    1.69

In [15]:
colunas = data[["Idade","Altura"]]
print(type(colunas))

<class 'pandas.core.frame.DataFrame'>