<a href="https://colab.research.google.com/github/marceloribasDev/fundamentosPython/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [ ]:
# Series
import pandas as pd

pd.Series([1,2,3,4,5])

In [ ]:
import pandas as pd
minha_serie = pd.Series([1,2,3,4,5], dtype="i4", name = "Meus numeros", index = ["um", "dois","tres","quatro","cinco"])

print(minha_serie["um"])
print(minha_serie["quatro"])
print(minha_serie.shape)

In [ ]:
import pandas as pd
minha_serie = pd.Series([1,2,3,4,5], dtype="i4", name = "Meus numeros", index = ["um", "dois","tres","quatro","cinco"])

minha_serie["seis"] = 6

print(minha_serie)

In [ ]:
import pandas as pd
import numpy as np

array = np.array([45.4,50.5,65.7,98.7])
pesos = pd.Series(array,index=["Carlos","Maria","Jose","Fernanda"])

print(pesos)
print(type(pesos))

In [ ]:
# Data Frames --> Eh um conjunto de dados em forma tabular... linhas e colunas
import pandas as pd

nomes = ["Marcelo","Arthur","Jully","Tiago","Luddy"]

data_frame = pd.DataFrame(nomes)

data_frame

In [ ]:
print(data_frame)

In [ ]:
import pandas as pd

numeros = [
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
]

data_frame = pd.DataFrame(numeros)

data_frame

In [ ]:
import pandas as pd

numeros = [
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
]

data_frame = pd.DataFrame(numeros, columns=["a","b","c","d"], index=["x","y","z","w"])

data_frame

In [ ]:
# Data frames a partir de um dicionario
import pandas as pd

dados = {
    "Nome": ["Marcelo","Arthur","Jully","Tiago"],
    "Idade" : [33,0,31,35],
    "Profissao" : ["DBA", "Filho","Esteticista", "Implementador de Software"]
}

data_frame = pd.DataFrame(dados)

data_frame

In [ ]:
data_frame.loc[0]

In [ ]:
import pandas as pd

dados = {
    "Idade" : [33,0,31,35],
    "Profissao" : ["DBA", "Filho","Esteticista", "Implementador de Software"]
}

data_frame = pd.DataFrame(dados, index=["Marcelo","Arthur","Jully","Tiago"])

data_frame

In [ ]:
data_frame.loc["Marcelo"]