<a href="https://colab.research.google.com/github/marceloribasDev/fundamentosPython/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [ ]:
# Series
import pandas as pd

pd.Series([1,2,3,4,5])

In [ ]:
import pandas as pd
minha_serie = pd.Series([1,2,3,4,5], dtype="i4", name = "Meus numeros", index = ["um", "dois","tres","quatro","cinco"])

print(minha_serie["um"])
print(minha_serie["quatro"])
print(minha_serie.shape)

In [ ]:
import pandas as pd
minha_serie = pd.Series([1,2,3,4,5], dtype="i4", name = "Meus numeros", index = ["um", "dois","tres","quatro","cinco"])

minha_serie["seis"] = 6

print(minha_serie)

In [ ]:
import pandas as pd
import numpy as np

array = np.array([45.4,50.5,65.7,98.7])
pesos = pd.Series(array,index=["Carlos","Maria","Jose","Fernanda"])

print(pesos)
print(type(pesos))

In [ ]:
# Data Frames --> Eh um conjunto de dados em forma tabular... linhas e colunas
import pandas as pd

nomes = ["Marcelo","Arthur","Jully","Tiago","Luddy"]

data_frame = pd.DataFrame(nomes)

data_frame

In [ ]:
print(data_frame)

In [ ]:
import pandas as pd

numeros = [
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
]

data_frame = pd.DataFrame(numeros)

data_frame

In [ ]:
import pandas as pd

numeros = [
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
    ["11","12","13","14"],
]

data_frame = pd.DataFrame(numeros, columns=["a","b","c","d"], index=["x","y","z","w"])

data_frame

In [ ]:
# Data frames a partir de um dicionario
import pandas as pd

dados = {
    "Nome": ["Marcelo","Arthur","Jully","Tiago"],
    "Idade" : [33,0,31,35],
    "Profissao" : ["DBA", "Filho","Esteticista", "Implementador de Software"]
}

data_frame = pd.DataFrame(dados)

data_frame

In [ ]:
data_frame.loc[0]

In [ ]:
import pandas as pd

dados = {
    "Idade" : [33,0,31,35],
    "Profissao" : ["DBA", "Filho","Esteticista", "Implementador de Software"]
}

data_frame = pd.DataFrame(dados, index=["Marcelo","Arthur","Jully","Tiago"])

data_frame

In [ ]:
data_frame.loc["Marcelo"]

In [ ]:
# Importando dados (importado arquivo pessoas.csv da pasta de arquivos)

import pandas as pd

# data = pd.read_csv("pessoas.csv")
data = pd.read_csv("pessoas.csv", index_col="Nome")

data

In [ ]:
data.loc["Roger"]

In [ ]:
len(data.columns)

In [ ]:
data.columns

In [ ]:
len(data.index)

In [ ]:
data.index

In [ ]:
data.shape

In [ ]:
for ind, linha in data.iterrows():
    print(ind, linha[0], linha[1], linha[2])

In [ ]:
for col in data:
    print(col)

In [ ]:
data["Idade"]

In [ ]:
for col in data:
    print(data[col])

In [ ]:
# Acessando valores individuais e slicing

print(data.loc["Roger"]["Idade"])
print(data.loc["Roger"][0])

In [ ]:
print(data.iloc[0]["Idade"])
print(data.iloc[1][0])

In [ ]:
print(data.loc["Roger"])
print(type(data.loc["Roger"]))

In [ ]:
print(data.iloc[0])

In [ ]:
data.loc["Cristiano":"Jeferson"]

In [ ]:
data.iloc[1:4]

In [ ]:
idade = data["Idade"]

print(idade[3])
print(idade["Diego"])

In [ ]:
print(data[["Idade","Altura"]])

In [ ]:
colunas = data[["Idade","Altura"]]
print(type(colunas))

In [ ]:
# Mascaras

colunas = data.iloc[:,1:3]
colunas

In [ ]:
colunas = data.loc[:,"Idade":"Profissão"]
colunas

In [ ]:
mask = data["Idade"] < 50
mask

In [ ]:
novo_dframe = data[mask]
novo_dframe

In [ ]:
novo_dframe = data[(data["Idade"] > 40) & (data["Altura"] > 1.75)]
novo_dframe

In [ ]:
# Atualizando Valores
data

In [ ]:
data.at["Roger","Idade"] = 56

data

In [ ]:
data.iat[2,0] = 100

data

In [ ]:
data.loc["Cristiano", "Idade":"Profissão"] = (45, "Dev")

data

In [ ]:
data.loc["José", ["Idade","Altura"]] = (65, 1.72)

data

In [ ]:
data.iloc[0,2] = 1.94

data

In [ ]:
data.loc[:,"Idade"] = 76

data

In [ ]:
data.loc[:,"Idade":"Profissão"] = None
data

In [ ]:
data.loc[:,["Idade", "Altura"]] = (23, 1.8)

data

In [ ]:
data.loc[(data["Idade"] < 40), "Altura"] = 1.99
data

In [ ]:
data.loc[(data["Idade"] == 34) & (data["Profissão"] == "Programador"), ["Idade","Altura"]] = (80,1.00)

data